demo/bin/
demo/build/
demo/lib/zoom_meeting_sdk/*.so
demo/lib/zoom_meeting_sdk/*.1
demo/lib/zoom_meeting_sdk/qt_libs/Qt/*
demo/lib/zoom_meeting_sdk/json/translations.json
demo/include/h/*
demo/.vscode/
demo/out
demo/*.avi
demo/*.mkv
demo/config.txt

#remove Visual Studio Related Files
/.vs/
demo/CMakeSettings.json

#remove mac associated files
*.DS_store

# Untrack the files (but keep them locally)
git rm --cached config.json




/demo/config.txt
/demo/lib/zoom_meeting_sdk/images
